{%extends 'base.html'%}
{%block content%}
<section id="features" class="features" style="margin-top:50px">
			<div class="container">
				<div class="row">
					<div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
						<h2>Наши контакты</h2>
					</div>
				</div>
				<div class="row">
                    <div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
						<h1 style="font-size:70px;color:#1ea78d;">+375-25-608-80-37</h1>
					</div>
				</div>
				<div class="row">
                    <div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
						<a href="https://www.instagram.com/4istolife_gomel/"><img src="static/img/social_contact/instagram.svg"></a>
						<a href="#"><img src="static/img/social_contact/telegram.svg"></a>
						<a href="#"><img src="static/img/social_contact/viber.svg"></a>
						<a href="https://ru-ru.facebook.com/"><img src="static/img/social_contact/facebook.svg"></a>
						<a href="#"><img src="static/img/social_contact/vk.svg"></a>

					</div>
                </div>
			</div>
</section>
{%endblock%}