{%extends 'base.html'%}
{%block content%}
<section id="features" class="features" style="margin-top:50px">
			<div class="container" style="height:800px">
				<div class="row">
					<div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
						<h2>Как заказать</h2>
					</div>
                    <h4 align="center">Для осуществления заказа на чистку мебели
                    Вам необходимо: </h4>
                </div>

					<!-- single member -->
					<figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
						<div class="member-thumb">
							<img src="static/img/order/order-1.png" alt="photo" class="img-responsive">
							<figcaption class="overlay">
								<h5>Сделать фото</h5>
								<p>Сделайте фото Вашего изделия в хорошем качестве, при достаточном освещении.
								Проблемные участки сфотографируйте крупно</p>
							</figcaption>
						</div>
					</figure>
					<!-- end single member -->

					<!-- single member -->
					<figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
						<div class="member-thumb">
							<img src="static/img/order/order-2.png" alt="photo" class="img-responsive">
							<figcaption class="overlay">
								<h5>Отправте фото</h5>
								<p>Пришлите фото нам в любом доступном мессенджере. Укажите есть ли посторонний запах,
								какого характера загрязнения</p>
							</figcaption>
						</div>
					</figure>
					<!-- end single member -->

					<!-- single member -->
					<figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
						<div class="member-thumb">
							<img src="static/img/order/order-3.png" alt="photo" class="img-responsive">
							<figcaption class="overlay">
								<h5>Получите ответ</h5>
								<p>Вы получите письмо, где детализирована стоимость чистки, а так же
								возможность заказа дополнительных услуг, рассчетное время чистки</p>
							</figcaption>
						</div>
					</figure>
					<!-- end single member -->

					<!-- single member -->
					<figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
						<div class="member-thumb">
							<img src="static/img/order/order-4.png" alt="photo" class="img-responsive">
							<figcaption class="overlay">
								<h5>Согласуйте дату и время</h5>
								<p>Мы подберем для Вас удобное время визита. Вам останется только подтвердить заказ</p>
							</figcaption>
						</div>
					</figure>
					<!-- end single member -->

				</div>
			</div>
		</section>

{%endblock%}