{% extends 'base.html'%}
{%block content%}
<section id="features" class="features" style="margin-top:50px">
			<div class="container">
				<div class="row">
					<div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
						<h2>Цены</h2>
					</div>

					<!-- price item -->
					<div class="col-md-4 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
						<div class="service-item">
							<div class="service-desc" align="center">
								<img src="static/img/sofas/divan-1.png">
								<h3>Двухместный диван</h3>
								<h3>ОТ 55 BYN</h3>
							</div>
						</div>
					</div>
					<!-- end price item -->
					<div class="col-md-4 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
						<div class="service-item">
							<div class="service-desc" align="center">
								<img src="static/img/sofas/divan-2.png">
								<h3 align="center">Трехместный диван</h3>
								<h3 >ОТ 65 BYN</h3>
							</div>
						</div>
					</div>
					<!-- end price item -->
					<!-- price item -->
					<div class="col-md-4 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
						<div class="service-item">
							<div class="service-desc" align="center">
								<img src="static/img/sofas/divan-3.png">
								<h3>Угловой диван</h3>
								<h3>ОТ 75 BYN</h3>
							</div>
						</div>
					</div>
					<!-- end price item -->
					<!-- price item -->
					<div class="col-md-4 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
						<div class="service-item">
							<div class="service-desc" align="center">
								<img src="static/img/sofas/divan-4.png">
								<h3 >Нестандартный диван</h3>
								<h3>ОТ 85 BYN</h3>
							</div>
						</div>
					</div>
					<!-- end price item -->
					<!-- price item -->
					<div class="col-md-4 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
						<div class="service-item">
							<div class="service-desc" align="center">
								<img src="static/img/sofas/divan-5.png">
								<h3>Выдвижное спальное место</h3>
								<h3>ОТ 10 BYN</h3>
							</div>
						</div>
					</div>
					<!-- end price item -->
					<!-- price item -->
					<div class="col-md-4 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
						<div class="service-item">
							<div class="service-desc" align="center">
								<img src="static/img/sofas/divan-18.png">
								<h3 align="center">Кухонный уголок</h3>
								<h3>ОТ 35 BYN</h3>
							</div>
						</div>
					</div>
					<!-- end price item -->
					<!-- price item -->
					<div class="col-md-4 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
						<div class="service-item">
							<div class="service-desc" align="center">
								<img src="static/img/sofas/divan-6.png">
								<h3>Кресло</h3>
								<h3>ОТ 20 BYN</h3>
							</div>
						</div>
					</div>
					<!-- end price item -->
					<!-- price item -->
					<div class="col-md-4 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
						<div class="service-item">
							<div class="service-desc" align="center">
								<img src="static/img/sofas/divan-7.png">
								<h3 >Малая подушка</h3>
								<h3> 5 BYN</h3>
							</div>
						</div>
					</div>
					<!-- end price item -->
					<!-- price item -->
					<div class="col-md-4 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
						<div class="service-item">
							<div class="service-desc" align="center">
								<img src="static/img/sofas/divan-17.png">
								<h3>Большая подушка</h3>
								<h3> 10 BYN</h3>
							</div>
						</div>
					</div>
					<!-- end price item -->
					<!-- price item -->
					<div class="col-md-4 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
						<div class="service-item">
							<div class="service-desc" align="center">
								<img src="static/img/sofas/divan-8.png">
								<h3 >Стул</h3>
								<h3> ОТ 6 BYN</h3>
							</div>
						</div>
					</div>
					<!-- end price item -->
					<!-- price item -->
					<div class="col-md-4 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
						<div class="service-item">
							<div class="service-desc" align="center">
								<img src="static/img/sofas/divan-19.png">
								<h3>Стул с мягкой спинкой</h3>
								<h3> ОТ 10 BYN</h3>
							</div>
						</div>
					</div>
					 <!-- end price item  -->
					<!-- price item -->
					<div class="col-md-4 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
						<div class="service-item">
							<div class="service-desc" align="center">
								<img src="static/img/sofas/divan-20.png">
								<h3 align="center">Пуф</h3>
								<h3> 6 BYN</h3>
							</div>
						</div>
					</div>
					<!-- end price item -->
					<!-- price item -->
					<div class="col-md-4 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
						<div class="service-item">
							<div class="service-desc" align="center">
								<img src="static/img/sofas/wind.png" width="80%">
								<h3 align="center">Сушка</h3>
								<h3> ОТ 10 BYN</h3>
							</div>
						</div>
					</div>
					<!-- end price item -->
					<!-- price item -->
					<div class="col-md-4 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
						<div class="service-item">
							<div class="service-desc" align="center">
								<img src="static/img/sofas/cat.png" width="80%">
								<h3 align="center">Удаление запаха</h3>
								<h3> ОТ 15 BYN</h3>
							</div>
						</div>
					</div>
					<!-- end price item -->
				</div>
			</div>
		</section>
<section id="features" class="features">
			<div class="container" style="height:100px">
				<div class="row">
					<div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
						<h2>Внимание!</h2>
						<br><p style="text-align: justify; font-size:17px">
							Точную стоимость можно узнать после оценки фото Вашего дивана специалистом компании.
							Окончательная стоимость зависит от конфигурации и размеров дивана, степени загрязнения, наличия
							посторонних запахов.
							В случае выезда за пределы Гомеля проезд оплачивается отдельно.
							Для точной оценки просьба предоставлять реальные фото в хорошем качестве.</p>
						</p>
					</div>
				</div>
			</div>
		</section>

{%endblock%}