{% extends 'base.html'%}
{%block content%}
<section id="features" class="features" style="margin-top:50px">
			<div class="container">
				<div class="row">

					<div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
						<h2>Мы предлагаем</h2>
						<div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
					</div>

					<!-- service item -->
					<div class="col-md-4 wow fadeInLeft" data-wow-duration="500ms">
						<div class="service-item">
							<div class="service-desc">
								<h3>Химчистка мягкой мебели</h3>
								<p>Используем качественное оборудование и профессиональную химию</p>
							</div>
						</div>
					</div>
					<!-- end service item -->

					<!-- service item -->
					<div class="col-md-4 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
						<div class="service-item">
							<div class="service-desc">
								<h3>Химчистка матрасов</h3>
								<p>Удаление  </p>
							</div>
						</div>
					</div>
					<!-- end service item -->

					<!-- service item -->
					<div class="col-md-4 wow fadeInRight" data-wow-duration="500ms"  data-wow-delay="900ms">
						<div class="service-item">
							<div class="service-desc">
								<h3>Экспресс-сушка</h3>
								<p></p>
							</div>
						</div>
					</div>
					<!-- end service item -->

				</div>
			</div>
		</section>
{%endblock%}