{% extends 'base.html'%}
{%block content%}
<section id="process" class="features" style="margin-top:50px">
			<div class="container">
				<div class="row">
					<div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
						<h2>Процесс химчистки</h2>
					</div>
				<section id="process" class="process">
					<div class="container">
						<div class="row">
							<div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
								<div class="col-xs-12">
									<img src="static/img/process/process-0.jpg" class="img-rounded"/>
								</div>
								<h3>Что такое химчистка?</h3>
								<br>
								<p class="process">
									Чистка дивана - процесс многоступенчатый, от каждого этапа которого зависит окончательный
									успех чистки. В абсолютном большинстве случаев чистка подразумевает использование воды, поэтому корректнее
									называть это аквачисткой нежели химчисткой. Но большинству людей привычно название химчистка.
									Время, затрачиваемое на чистку диван, зависит от размеров дивана, степени загрязнения. Как правило, среднее время
									чистки составляет 1-2 часа.
								</p>
							</div>
						</div>
						<div class="row">
							<div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
								<div class="row-fluid">
										<div class="col-xs-6" style="padding-top:50px">
											<h3 class="text-center">
												Осмотр
											</h3>
											<br>
											<p class="process">
												Первым этапом чистки является оценка материала обивки, степени загрязнения,
												специфики загрязнений, наличие запахов. На данном этапе происходит выбор тактики
												и технологии чистки, так как различные загрязнения требуют применения различных средств.
											</p>
										</div>
										<div class="col-xs-6">
											<img src="static/img/process/process-1.jpg" class="img-rounded" />
										</div>
									</div>
								</div>
							</div>
						<br>
						<br>
						<div class="row">
							<div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
								<div class="row-fluid">
										<div class="col-xs-6">
											<img src="static/img/process/process-2.jpg" class="img-rounded" />
										</div>
										<div class="col-xs-6" style="padding-top:50px">
											<h3 class="text-center">
												Предварительная обработка
											</h3>
											<br>
											<p class="process">
												На данном этапе происходит предварительное замачивание специальными средствами (преспрей,
									средство от запаха мочи) для воздействия на специфические загрязнения, при выраженном загрязнении
									обивки дивана.
									В случае отсутствия выраженных загрязнения данный этап может быть пропущен.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					<br>
					<br>
						<div class="row">
							<div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
								<div class="row-fluid">
										<div class="col-xs-6" style="padding-top:50px">
											<h3 class="text-center">
												Механическая чистка
											</h3>
											<br>
											<p class="process">
												Для более эффективной работы химических средств часто применяется механическое воздействие
												в виде применения орбитальной машинки с мягкими щетками.
												Это позволяет эффективно удалять загрязнения, не причиняя вреда ткани.
												В случае отсутствия выраженных загрязнения данный этап может быть пропущен
											</p>
										</div>
										<div class="col-xs-6">
											<img src="static/img/process/process-3.jpg" class="img-rounded" />
										</div>
									</div>
								</div>
							</div>
					<br>
					<br>
						<div class="row">
							<div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
								<div class="row-fluid">
										<div class="col-xs-6">
											<img src="static/img/process/process-4.jpg" class="img-rounded" />
										</div>
										<div class="col-xs-6" style="padding-top:50px">
											<h3 class="text-center">
												Основная чистка
											</h3>
											<br>
											<p class="process">
												Обязательный этап чистки. Осуществляется путем чистки экстрактором,
												в ходе которой каждый участок обивки промывается большим потоком готового раствора моющего средства.
												Параллельно происходит забор грязного (отработанного) раствора в бак для грязной воды.
											</p>
										</div>
									</div>
								</div>
							</div>
					<br>
					<br>
						<div class="row">
							<div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
								<div class="row-fluid">
										<div class="col-xs-6" style="padding-top:50px">
											<h3 class="text-center">
												Локальное пятновыведение
											</h3>
											<br>
											<p class="process">
												В случае наличия загрязнений,
												которые остались после основной чистки,
												на данном этапе применяются пятновыводители в зависимости от характера загрязнения.
											</p>
										</div>
										<div class="col-xs-6">
											<img src="static/img/process/process-5.jpg" class="img-rounded" />
										</div>
									</div>
								</div>
							</div>
					<br>
					<br>
						<div class="row">
							<div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
								<div class="row-fluid">
										<div class="col-xs-6">
											<img src="static/img/process/process-6.jpg" class="img-rounded" />
										</div>
										<div class="col-xs-6" style="padding-top:50px">
											<h3 class="text-center">
												Нейтрализация
											</h3>
											<br>
											<p class="process">
												Обязательный этап чистки. Путем нанесения специального ополаскивателя
												происходит нейтрализация ранее нанесенных моющих средств. После данного этапа
												мебель приобретает более яркие и насыщенные цвета, а так же легкий аромат свежести
											</p>
										</div>
									</div>
								</div>
							</div>
					<br>
					<br>
					<div class="row">
							<div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
								<div class="row-fluid">
										<div class="col-xs-6" style="padding-top:50px">
											<h3 class="text-center">
												Сушка
											</h3>
											<br>
											<p class="process">
												Необязательный этап. При помощи специальной сушки происходит высушивание обивки дивана, что сокращает время
												полного высыхания с 12-24 часов до 2-6 часов. Длительность полного высыхания зависит от температуры в помещении,
												относительной влажности воздуха, материала обивки.
											</p>
										</div>
										<div class="col-xs-6">
											<img src="static/img/process/process-7.jpg" class="img-rounded" />
										</div>
									</div>
								</div>
							</div>
				</section>
			</div>
			</div>
		</section>
{%endblock%}